<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Editar livro", edit_book_path(@book) %> |
  <%= link_to "Voltar para livros", books_path %>

  <%= button_to "Deletar esse livro", @book, method: :delete %>
</div>
